<!DOCTYPE html> 
<html lang='en'>
 <head>
 <meta charset="utf-8">
 <title>Current time</title>
 <link rel="stylesheet" type="text/css" href="style.css">

</head>
 <body>
    <div class="container">
        <%for(const element in data){%>
            <div class="element" >
                <form action="/addToCart" method="post">
                    <input name="id" value="<%=element%>"></input>
                    <h1><%=data[element].name%></h1>
                    <h5><%=data[element].price%></h5>
                    <p><%=data[element].description%></p>
                    <input type="submit" value="Submit"></input>
                </form>
            </div>
        <%}%>
    </div>

    
 </body>
</html>