<!DOCTYPE html> 
<html lang='en'>
 <head>
 <meta charset="utf-8">
 <title>Current time</title>
 <link rel="stylesheet"  type="text/css" href= "D:\CAREER\MIU\WAP\labs\Node_express_Assignments\W3D5\q1\public\css\night.css" >
</head>
 <body>
 This page was loaded at <%= time %> <%=css_file%>
 </body>
</html>